.cl-grupo .header-grupo{
    background-color: #f0a500;
    color: #1a1c20;
    width: 325px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 30px 0;
}

.table-grupo{
    width: 90%;
    margin: auto;
}

.table-grupo-cl .th-table,.part-fl{
    border-top: 3px solid #fff;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;  
    align-items: center;  
}
.part-fl.eliminado{
    background-color: rgb(189, 52, 52);
}
.table-grupo-cl .th-table>h3{
    margin: 0 15px;
    color: #f0a500;
}
.pos-table{
    width: 20%;
    text-align: center;
}
.th-table.active{
    background-color: #fff;
    color: blueviolet;
    font-weight: bold;
}
.logo-equipo{
    width: 40%;
}
 .logo-eq{
    width: 40%; 
    padding: 10px 0;   
    text-align: center;
    justify-content: center;
    height: 70px;
    max-height: 70px;
}
 .name-eq{
    width: 40%;
    text-align: center;
}
.table-grupo-cl  .logo-eq>img{    
    width: 60px;
    
}

/*ADVERT*/
.mantenimiento{
    justify-content: center;
    text-align: center;
}
.mantenimiento .container-mant{
    max-width: 200px;
    margin: auto;
}
.mantenimiento .container-mant>p{
    font-size: 12px;
}

.mantenimiento .container-mant>h3{
    font-size: 14px;
}
.mantenimiento .container-mant>h1{
    font-size: 20px;
}
.mantenimiento .container-mant>i{
    font-size: 150px;
    padding: 10px;
}


@media(min-width:500px){
    .mantenimiento .container-mant{
        max-width: 400px;
        margin: auto;
    }
    .mantenimiento .container-mant>i{
        font-size: 250px;
        padding: 15px;
    }
    .mantenimiento .container-mant>p{
        font-size: 16px;
    }
}
@media(min-width: 1024px){
    .mantenimiento .container-mant{
        max-width: 700px;
        margin: auto;
    }
    .mantenimiento .container-mant>i{
        font-size: 350px;
        padding: 15px;
    }
    .mantenimiento .container-mant>p{
        font-size: 18px;
    }
    .mantenimiento .container-mant>h3{
        font-size: 18px;
    }
    .mantenimiento .container-mant>h1{
        font-size: 30px;
    }

    .cl-grupo .header-grupo{
        width: 50%;
    }
    .table-grupo-cl{
        width: 70%;
        margin: auto;
    }
}


/*=============================*/
.contenedor-inscritos-cl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}
.container-part-ins{    
    margin: 0 0 15px 10px;
    border-bottom: 3px solid #f0a500;
    max-width: 150px;
}

.container-part-ins:hover{
    background-color: #f0a500;
    border-bottom: 3px solid #fff;
    color: #1a1c20;
    font-weight: bold;
}
.contenedor-inscritos-cl .container-part-ins .logo-inscrito{    
    width: 150px; 
    padding: 10px 0;   
    text-align: center;
    justify-content: center;    
    height: 150px;
    max-height: 150px;
}
.contenedor-inscritos-cl .container-part-ins .logo-inscrito>img{
    width: 140px;
}
.contenedor-inscritos-cl .container-part-ins .name-inscrito{    
    text-align: center;
    font-size: 18px;
    
}
.container-part-ins .name-inscrito:hover{
    border-bottom: 3px solid #fff;
}
@media(min-width:740px){
    .contenedor-inscritos-cl{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
    }
    .container-part-ins{    
        margin: 0 0 20px 40px;
        border-bottom: 3px solid #f0a500;
        width: 275px;
        max-width: 275px;
    }
    
    .container-part-ins:hover{
        background-color: #f0a500;
        border-bottom: 3px solid #fff;
        color: #1a1c20;
        font-weight: bold;
    }
    .contenedor-inscritos-cl .container-part-ins .logo-inscrito{    
        width: 275px; 
        padding: 10px 0;   
        text-align: center;
        justify-content: center;    
        height: 275px;
        max-height: 275px;
        overflow: hidden;
    }
    .contenedor-inscritos-cl .container-part-ins .logo-inscrito>img{
        width: 230px;
    }
    .contenedor-inscritos-cl .container-part-ins .name-inscrito{    
        justify-content: center;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
}
